<% layout('boilerplate') -%>
<body class="bodycolor">
    <div class="container2 my-10">
        <div class="mx-20">
            <h1 class="text-2xl font-medium">Category:<%=categoryData[0]?.category%></h1>
           <div class="flex flex-wrap justify-start">
            <% for (let data of categoryData) { %>
                <a href="/api/products/<%= data._id %>">
                    <div class="m-2 card">
                        <img src="<%= data.image %>" alt="img" class="h-73 w-70 object-cover">
                        <p class="font-medium"><%= data.name %></p>
                        <p class="text-sm">Rs.<%= data.price.toLocaleString("en-In") %>.00
                        </p>
                    </div>
                </a>
            <% } %>
           </div>
           <!-- <form action="" class="mt-10">
            <button type="submit" class=" hover:bg-black-300" >View All</button>
           </form> -->
        </div>
    </div>
    
</body>
