<% layout('boilerplate') -%>
<body class="bodycolor">
    <div class="container2 my-10">
        <div class="mx-20">
            <h1 class="text-4xl font-semibold">All Products</h1>
           <div class="flex flex-wrap justify-start">
            <% for (let data of allData) { %>
                <a href="/api/products/<%= data._id %>">
                    <div class="m-2 card">
                        <img src="<%= data.image %>" alt="img" class="h-70 w-70 object-cover">
                        <p class="font-medium"><%= data.name %></p>
                        <p class="text-sm">Rs.<%= data.price.toLocaleString("en-In") %>.00
                        </p>
                        <br>
                        <a href="/api/admin/<%= data.id %>/update" class="btn mt-10">update</a>
                        <a href="/api/admin/<%= data.id %>/delete" class="btn mt-4">delete</a>
                    </div>
                </a>
                <br>
            <% } %>
           </div>
        </div>
    </div>
</body>
